<h1 class="text-2xl" translate="ADDRESS_MUST_BE_STATE_RESIDING_RESIDENCE_NOT_LISTED_CONTACT_LOCAL_OFFICE"></h1>

<a
  id="home-claimant-services-link"
  ui-sref="public.login.username"
  class="btn flatbutton form-control hide-ie login-nav"
  style=""
>
  <i class="glyphicon glyphicon-user"></i>
  <span translate="ADDRESS_MUST_BE_STATE_RESIDING_RESIDENCE_NOT_LISTED_CONTACT_LOCAL_OFFICE"></span>
</a>

<br />

<a
  id="home-employer-services-link"
  href="/api/modernization/employerHome"
  class="btn flatbutton form-control login-nav"
>
  <i class="fa fa-users"></i>
  <span translate="LOGIN_EMPLOYER_SERVICES"></span>
</a>

<br />

<a
  id="home-service-company-link"
  href="https://huiclaims3.hawaii.gov/employer/cpa-login"
  target="new"
  class="btn flatbutton form-control login-nav"
>
  <i class="fa fa-address-card-o"></i>
  <span translate="SERVICE_COMPANY"></span>
</a>

<br />

<a
  id="home-contact-link"
  href="http://labor.hawaii.gov/ui/contact"
  target="new"
  class="btn flatbutton form-control login-nav"
>
  <i class="fa fa-phone"></i>
  <span translate="LOGIN_CONTACT"></span>
</a>
